/*
 SITE CONFIGURATION AND VARIABLES
 */

// Media queries
$tablet-portrait: 720px;
$desktop-small: 960px;
$desktop-large: 1140px;
$desktop-xlarge: 1240px;

// Grid variables
$grid-columns: 12;
$grid-max-width: 100%;
// $grid-max-width: 1240px;

// Custom colors
