/* Apply the site font to body and form elements */
*{
  outline: 1px solid red;
}

body {
  background-color: #ececec;
  font-family: OpenSans;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}
