/*===============================================================================================*/
/*    COLORS                                                                                     */
/*===============================================================================================*/

$white: #ffffff;
$black: #171717;
$dark-grey: #424242;
$bg-color: #ececec;
$progress: #808080;
$input-divider: #bfbfbf;

$primary: #bdab9b;
$secondary: #707070;
$lightgrey: #e7e7e7;
$grey: #666666;

$lines: #f7f7f7;
$dark-lines: #b5a494;
$note-divider: #daedf5;
$note-divider-active: #bdebff;

// warning color
$red: #ed5153;
