/*===============================================================================================*/
/*    COLORS                                                                                     */
/*===============================================================================================*/

$white: #ffffff;
$black: #28292b;

$primary: #bdab9b;
$secondary: #83776c;
$lightgrey: #999999;
$grey: #666666;

$lines: #f4f4f4;
$dark-lines: #b5a494;

// warning color
$red: #e57066;
